<section class="mb-4">
    <h2 class="font-weight-bold text-center my-4">About us</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="/assets/maxresdefault.jpg" class="img-fluid w-100 h-100">
        </div>
        <div class="col-md-6">

        <p class=" text-muted font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, quas labore
            consectetur ad,
            aliquid enim nisi saepe nostrum doloremque magnam tempore harum odit corporis dolorem beatae possimus
            laudantium ex tenetur inventore perferendis accusamus. Accusamus consequatur laborum minima ex eveniet,
            veritatis unde expedita eius impedit vero tempora quisquam illum corporis? Eaque! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Quas eligendi atque dolorum modi quod nisi minima mollitia est enim, labore
            ratione dolor voluptates voluptate magnam pariatur fugit perferendis cum unde.</p>
    </div>
</div>
</section>