<div class="row">
    <div class="col-md-4">
        <div class="movie_img ">
       <img [src]="imgPrefix+movieDetails?.poster_path" class="img-fluid w-100 shadow-lg">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-around flex-column">
        <div class="movie_data mt-2">
       
       <h2>{{movieDetails?.title}}</h2>  
       <p class="text-muted mb-2">{{movieDetails?.tagline}}</p>
       <p >Vote :<span>{{movieDetails?.vote_average}}</span></p>
       <p>Vote Count :<span>{{movieDetails?.vote_count}}</span></p>
       <p>Popularity :<span>{{movieDetails?.popularity}}</span></p>
       <p>Release date :<span>{{movieDetails?.release_date}}</span></p>
       <p class="text-muted mt-2">{{movieDetails?.overview}}</p>
        </div>
    </div>
</div>